<%- include('partials/header')%>
<%- include('partials/navbar')%>

<body>
    <h1>Hello Darkness my old friend!!!</h1>
    <h1>I come to talk with you again.</h1>
</body>
<%- include('partials/footer')%>

 
